.headerFont {
    color: #030104;
    font-size: 20px;
}

.showAllLabel {
    text-align: right;
    padding-right: 20px;

}

ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}

ion-thumbnail {
    --border-radius: 58;
}

.searchBarStyle {
    --background: #FFF3BE;
    --border-radius: 70;
    --color: #787878;
    --placeholder-color: #787878;
    --box-shadow: none;
}